<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Node Basic</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="NodeBasic" class="container">
    <navbar></navbar>
    <div>
        <h1>Node Basic</h1>
        <p>I'm just a simple Node wireframe for a quick start at making something.</p>
    </div>
</body>
</html>